{%extends 'core/base.html'%}


{%block titulo%}
Inicio
{%endblock%}


{%block subtitulo%}
Bienvenidos a <span style='color:brown'>MovieCenter
{%endblock%}

{%block descripcion%}
Comparte y lee resenas de peliculas con personas de todo el mundo
{%endblock%}



{%block contenido_central%}

<h4>Aqui estan listadas todas las reseñas:</h4>
<ul>
{%for resena in object_list%}
<li>
    <p> <a href="{% url 'Leer-Review' resena.id %}"> Pelicula: {{resena.pelicula}} --- Titulo: {{resena.titulo}} --- Autor: {{resena.autor}} --- Fecha {{resena.fecha}} </a> </p>
</li>
{%endfor%}
</ul>

{%endblock%}