{%extends 'core/base.html'%}


{%block titulo%}
Review {{review.id}}
{%endblock%}


{%block subtitulo%}
Esta es la reseña nro. <i>{{review.id}}</i>, escrita por el usuario @<i>{{review.autor}}</i>
{%endblock%}

{%block descripcion%}
{%if request.user.is_authenticated%}
Para crear una reseña clickea <a class="btn btn-primary" href="#crear">Aqui</a>
{%else%}
Para crear una reseña primero tienes que iniciar sesion <a class="btn btn-primary" href="{% url 'Login'%}">Aqui</a>
{%endif%}
{%endblock%}



{%block contenido_central%}

<br>
<img src="{{review.poster.url}}" width='200px'>
<h2>
    Pelicula: <i>{{review.pelicula}}</i>
    <br>
    Titulo: <i>{{review.titulo}}</i>
</h2>
<h4>
    Autor: <i>{{review.autor}}</i>
    <br>
    Fecha: <i>{{review.fecha}}</i>
    <br>
    Reseña:
</h4>

<p>{{review.texto|linebreaks}}</p>

{%if review.autor == request.user %}
<a class="btn btn-primary" href="{% url 'Edit-Review' review.id %}">Editar</a>
<a class="btn btn-primary" href="{% url 'Eliminar-Review' review.id %}">Borrar</a>
<p><br><br></p>
{%endif%}

<a class="btn btn-primary" href="{% url 'Index'%}">Volver</a>
<p><br></p>

{%endblock%}